body{
font-family: Arial;
background:#f4f6f9;
text-align:center;
}

header{
background:#0a7cff;
color:white;
padding:20px;
}

#search{
padding:10px;
width:250px;
border:none;
border-radius:5px;
}

.title{
margin-top:20px;
}

.products{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.product{
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
width:200px;
}

.product img{
width:150px;
}

button{
background:#28a745;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#218838;
}

#cart{
list-style:none;
padding:0;
}
